body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
.flexible-container{
  display: flex;
}
.top-banner{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-image: url(../images/biddanondo-1.jpg);
}
.text-center h1{
  font-size: 50px;
}
.text-center p{
  text-align: center
}
.text-center{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.button{
  text-decoration: none;
  background-color: #FF5959;
  width: 160px;
  height: 56px;
  padding: 12px 8px;
  color: white;
  border-radius: 5px;
}

/* Donate Today */
.Donate-Today{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Donate-Today h1{
 font-weight: 700;
 font-size: 45px; 
}

span{
background-color: #FAFAFA;
padding: 18px 7px;
margin: 10px;
font-weight: 700;
font-size: 30px;
line-height: 36px;
border-radius: 5px;
}
.span-border{
   background: #FFEEEE;;
  border: 2px solid #FF5959;
  border-radius: 5px;
}
.Amount{
  color: #B3B3B3;
  margin-bottom: 0;
}

/* Our Donate plan */
.Donate-plan{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
}
.Donate-plan h1{
   font-weight: 700;
   font-size: 45px; 
}

.plan{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  align-items: center;
  text-align: center;
}

.A{
  width: 340px;
  height: 336px;
  background: rgba(79, 157, 166, 0.1);
  padding: 15px;
  margin: 15px;
  font-size: 14px;
  text-align: left;
  border-radius: 5px;
  text-align: justify;
}
.B{
  width: 340px;
  height: 336px;
  background: rgba(255, 89, 89, 0.1);
  padding: 15px;
  margin: 15px;
  font-size: 14px;
  text-align: left;
  border-radius: 5px;
  text-align: justify;
}
.C{
  width: 340px;
  height: 336px;
  background: rgba(255, 243, 70, 0.1);
  padding: 15px;
  margin: 15px;
  font-size: 14px;
  text-align: left;
  border-radius: 5px;
  text-align: justify;
}

/* Help */
.Help{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.half-width{
width: 50%;
margin-left: 125px;
margin-right: 100px;
}
.half-width h1{
  font-size: 40px;
}
.half-width img{
 width: 400px;
 height: 390px;
 margin-right: 150px;

}

.half-width-two{
  width: 50%; 
  margin-right: 150px;
}

.half-width-two h1{
  font-size: 40px;
}

/* my updates */
.input{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-bottom: 48px;
}
.input h1{
   font-weight: 700;
   font-size: 45px; 
}

.input-email{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFF4D6;
   width: 600px;
   height: 160px;
}
.input-button{
  background-color: #D9D9D9;
  border-radius: 5px 0px 0px 5px;
  border: none;
  padding: 10px;
}
.subsribe-button{
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   background-color: #FF5959;
   padding: 13px;
   margin-left: -18px;
   border-radius: 0px 4px 4px 0px;
   color: white;
   font-size: 8px;
}
footer{
  background-color: #0B0D17;
  padding: 15px;
  color: #D9DBE1;
  text-align: center;
}
.footer-span{
  color: #FF5959;
  background-color: #0B0D17;
  font-family: 'Lobster', cursive;
}